<nav class="navbar">
  <div class="navbar-left">
    <a href="/"><img src="/pictures/logo.png" alt="logo"></a>
    
  </div>

  <div class="navbar-right">
    <% if (user) { %>
    <a href="/songs">Songs</a>
    <a href="/playlists">Playlists</a>
    <a href="/auth/logout">Logout</a>
    <span class="username"><%= user.username %></span>
      
    
    <% } else { %>
      <a href="/auth/login">Login</a>
      <a href="/auth/sign-up">Sign Up</a>
    <% } %>
  </div>
</nav>

