<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/all.css">
    
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1 class="playlist-title">All Playlists</h1>

<div class="All-container">
  <% allPlaylists.forEach((playlist) => { %>
    <div class="All-card">
      <a href="/playlists/<%= playlist._id %>">
        <%= playlist.name %>
      </a>
    </div>
  <% }) %>
</div>

<a class="create-new" href="/playlists/new">Create New Playlist</a>



</body>
</html>