<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/playlist.css">
    
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1 class="playlist-title">All Playlists</h1>

<section class="playlist-section">
  <div class="playlist-grid">
    <% allPlaylists.forEach((playlist) => { %>
      <div class="playlist-card">
        <a href="/playlists/<%= playlist._id %>">
          <h3><%= playlist.name %></h3>
        </a>
      </div>
    <% }) %>
  </div>
</section>

<a href="/playlists/new" class="create-btn"> Create New Playlist</a>

</body>
</html>