<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>New Playlist</title>
</head>
<body>
  <h1>Create New Playlist</h1>

  <form action="/playlists" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required />

    <label for="songIds">Songs:</label>
    <select multiple name="songIds" id="songIds">
      <% allSongs.forEach((oneSong) => { %>
        bayan
        <option value="<%= oneSong._id %>"><%= oneSong.title %></option>
      <% }) %>
    </select>

    <button type="submit">Create Playlist</button>
  </form>
</body>
</html>